/* Resetear estilos por defecto */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles */
}

/* Media query para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos específicos para tablets */
}

/* Media query para desktops */
@media only screen and (min-width: 1025px) {
    /* Estilos específicos para desktops */
}

/*scroll personalizado*/
::-webkit-scrollbar {
    width: 10px;
    background-color: #e0cebc;
}

::-webkit-scrollbar-thumb {
    background: #03989e;
    border-radius: 10px;
    border-right: 2px solid #e0cebc;
}

::-webkit-scrollbar-track {
    /*scrollbar horizontal*/
    width: 0px;
}

::-webkit-scrollbar-corner {
    background: #e0cebc;
}

title {
    font-family: "Arial", sans-serif;
}

/*Body Style*/
body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0cebc;
    overflow-x: hidden;
    /* Evita el desplazamiento horizontal */
    overflow-y: scroll;
    /* Permite el desplazamiento vertical */
}

.main-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1em;
    overflow: auto;
}

/*Header Content Style*/
/* Header
/* Header, del logo y del menú de navegación */
header {
    width: 100%;
    background-color: #e0cebc;
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.logo {
    width: 25%;
    max-width: 150px;
    margin-right: auto;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}


/* Menú de navegación */
.navegator {
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
    /* para alinear a la derecha */
    padding: 10px 0;
    /* cambiar el padding horizontal para hacer espacio entre los enlaces */
}

nav a {
    color: #000000;
    margin-left: 10%;
    /* para agregar espacio entre los enlaces */
}

nav a:hover {
    color: #fff;
    background-color: #03989e;
}



.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 100%;
}



/*hero section style*/
/* sección hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0cebc;
    padding: 2em 0;
}

/*hero section heading style*/
.hero h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/*hero section paragraph style*/
.hero p {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
}

/*hero section scroll button.
/*hero section scroll button*/
.hero .scroll-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}

/* Agrega un margen a las imágenes de propiedades */
.property-image {
    margin: 10px;
}

/* Reduce el tamaño de las imágenes de propiedades */
.property-image img {
    max-width: 70%;
    /* Reduce el tamaño de las imágenes al 70% */
    height: auto;
    /* Mantiene la proporción de aspecto */
    display: block;
    /* Para centrar las imágenes horizontalmente */
    margin: 10px auto;
    /* Centra las imágenes horizontalmente */
    background-color: #e0cebc;
}

.scroll-button .arrow {
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    animation: scrollAnimation 1s infinite;
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}



.description-section {
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
    color: #e0cebc;
}

/* sección de contacto, servicios y logo */

.section {
    background-color: #e0cebc;
    padding: 2em;
    border-top: 1px solid #03989e;
    margin-top: 2em;
}

footer {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    background-color: #e0cebc;
    color: #000;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-column {
    width: 20%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services {
    background-color: #e0cebc;
}

#scrollBtn:hover {
    background-color: #e0cebc;
    color: #03989e;
    cursor: pointer;
}

#services:hover {
    box-shadow: 0 0 10px #e0cebc;
    /* agrega una sombra suave */
    transform: scale(1.1);
    /* aumenta el tamaño en un 110% */
    background-color: #e0cebc;
    /* cambia el color de fondo */
    cursor: default;
    /* cambia el cursor a una mano */
}

.social-text {
    text-align: center;
    margin-bottom: 1em;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 1em;
}

.footer-image {
    width: 50%;
    padding: 1em;
}

.footer-rights {
    width: 100%;
    padding: 1em;
    text-align: center;
}

.footer-column h3 {
    margin-bottom: 1em;
    text-align: center;
    color: #000;
}

.footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-column a {
    display: inline-block;
    margin: 0.5em;
    font-size: 1.5em;
    color: #000;
    text-decoration: none;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #03989e;
}

.social-icons a:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .footer-column {
        width: 100%;
    }
}
